<a href="https://colab.research.google.com/github/ImRaushanS/PySpark/blob/main/PySpark_intro_by_Me_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
import pyspark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/Pyspark Data/TestPyspark1.csv')

       Name  Age
0     Krish   31
1  Sudhansu   30
2     Sunny   29

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/Pyspark Data/TestPyspark1.csv')

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [ ]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|   Krish| 31|
|Sudhansu| 30|
|   Sunny| 29|
+--------+---+

In [ ]:
spark.read.option('header','True').csv('/content/drive/MyDrive/Pyspark Data/TestPyspark1.csv')

DataFrame[Name: string, Age: string]

In [ ]:
spark.read.option('header','True').csv('/content/drive/MyDrive/Pyspark Data/TestPyspark1.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|   Krish| 31|
|Sudhansu| 30|
|   Sunny| 29|
+--------+---+

In [ ]:
df_pyspark= spark.read.option('header','True').csv('/content/drive/MyDrive/Pyspark Data/TestPyspark1.csv')

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Krish', Age='31'),
 Row(Name='Sudhansu', Age='30'),
 Row(Name='Sunny', Age='29')]

In [ ]:
df_pyspark.printSchema() #This df.printSchema() is just like df.info() in pandas

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)